@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-image: url(../images/TASK\ &\ TROVE.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  .nav-bar{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.4rem;
    cursor: pointer;
    color: white;
    font-weight: bold;
    margin-top: 1rem;
  }
  .nav-bar-items {
    display: flex;
    list-style: none;
    gap: 5rem;

  }
  
  .logo{
    font-size: 4rem;
    cursor:default
  }
        /* main */

  .container{
    display: flex;
    gap: 10rem;
    justify-content: space-around;
    align-items: center;
  }

  .primary-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}
  .quote{
    font-size: 70px;
    text-align: center;
    color: white;
    font-style: italic;
    font-weight: bold;
  }

  .name{
    width: 420px;
    height: 80px;
    padding: 17px;
    font-size: 1.7rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #B41AAE;
    border-radius: 20px;
    color: white;

  }

  .name:focus{
    outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px #007bff;
  color: white;
  }

  ::placeholder{
    color: white;
  }

  /* button */

  .blue-btn a{
    color: white;
    text-decoration:none;
    text-align: center;
    display:block; /* important */
  }
  
  .blue-btn, .first-link{
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;     
  }
  
  
  .blue-btn{
    height: 64px;
    font: normal normal 700 1em/4em Arial,sans-serif;
    overflow: hidden;
    width: 200px;
    background-color: #3b5998;
    border-radius: 20px;
    margin-top: 20px;
  }
  
  .blue-btn:hover{
     background-color: #003D60;
    
  }
  
  .blue-btn a:hover{
    text-decoration: none;
  }
  
  .first-link{
    margin-top: 0em;   
  }
  
  .blue-btn:hover .first-link{
    margin-top: -4em;
  }

  /* */

  .bg-image{
    width: 850px;
}
@media all and (min-width: 768px) and (max-width: 1024px) { 
  .nav-bar{
    flex-direction: column;
    font-size: 1.1rem;
  }

  .nav-bar-items{
    color: #ccc;
  }
  .bg-image{
    margin-top: -200px;
    width: 70%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    filter: blur(2px);
  }
  .container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
  .quote{
    font-size: 45px;
  }
  .primary-div{
    gap: 3rem;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .nav-bar{
    flex-direction: column;
    font-size: 1.1rem;
  }

  .nav-bar-items{
    color: #ccc;
  }
  .bg-image{
    margin-top: -200px;
    width: 70%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    filter: blur(2px);
  }
  .container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
  .quote{
    font-size: 45px;
  }
  .primary-div{
    gap: 3rem;
  }
  .name{
    width: 370px;
  }
 }

@media all and (max-width: 480px) { 
  .nav-bar{
    flex-direction: column;
    font-size: 1.1rem;
    color: #ccc;
    justify-content: center;
  }
  .nav-bar-items{
    gap: 1.4rem;
  }
  .container{
    display: flex;
    flex-direction: column;

  }
  .logo{
    text-align: center;
    font-size: 3rem;
    color: white;
  }
  .quote{
    font-size: 50px;
    margin-top: 1rem;
  }

  .name{
    width: 340px;
  }
  .primary-div{
    gap: 2rem;
  }
  .bg-image{
    margin-top: -300px;
    width: 60%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    filter: blur(2px);
  }
 
}